@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-poppins;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-slide-in {
    animation: slideIn 0.5s ease-out;
  }
}

.embla__container {
  display: flex;
  gap: 1rem;
}

.embla__slide {
  flex: 0 0 24%;
  height: 500px;
}

.embla {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.embla__container {
  display: flex;
  gap: 1rem;
}

.text-indent {
  text-indent: 3rem;
}


